<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cudpast.appminas"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_mina3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_mina3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal.ShowPdfActivity"
            android:parentActivityName=".Principal.ExportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.ExportActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.VisualActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.AddPersonalActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.InputDataPersonalActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.ConsultaPersonalActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.DeletePersonalActivity"
            android:parentActivityName=".Principal.AllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal.MainActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>